@utility trans-all {
    @apply transition-all duration-300 ease-in-out;
}

@utility showModal {
    animation: showModal 0.2s ease-in-out;
}

@keyframes showModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flash-message {
    animation: flashMessage 4s ease-in-out;
    @apply trans-all;

    &.success {
        @apply border-l-green;

        &:after {
            @apply bg-green;
        }
    }

    &.error {
        @apply border-l-red;

        &:after {
            @apply bg-red;
        }
    }


    &:after {
        content: "";
        animation: flashMessageProgress 4s ease-in-out;
        @apply w-full h-px absolute bottom-0 left-0 trans-all origin-left;
    }
}

@keyframes flashMessage {
    0% {
        opacity: 0;
        transform: translateX(32px);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(32px);
    }
}

@keyframes flashMessageProgress {
    0% {
        transform: scaleX(0);
    }
    90% {
        transform: scaleX(1);
    }
}
